$primary-color: rgb(255, 248, 248);

$primary-font: 'KoHo', sans-serif;

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $primary-color;
    font-family: $primary-font;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}
