$button-color: #000100;

form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
    background-color: #1d3233;
    border-radius: 30px;
    box-shadow: 10px 10px #101615;
    max-width: 80%;
    margin: 0 auto;
}

form label {
    color: rgb(255, 248, 248);
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 1.5em;
    margin: 10px 0;
    border-radius: 20px;
}


#button {
    padding: 5px 20px;
    width: 50%;
    line-height: 16px;
    margin: 10px auto;
    background-color: rgb(255, 248, 248);
    color: #101615;
    font-family: 'KoHo', sans-serif;
    cursor: pointer;
}

#button:hover {
    background-color: #a72a2a;
    color: rgb(255, 248, 248);
}

.result {
    color: #a72a2a;
    text-align: center;
    font-size: 1.5em;
}

.result p {
    font-weight: bold;
}