@use 'base';
header {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  color: #a72a2a;
  font-weight: 600;
}

.head {
  margin: 0 auto;
  text-align: center;
  padding-top: 10vh;
}

.head h1 {
  font-size: 2.5em;
  padding-bottom: 3vh;
}
